<script>
    $(document).ready( function () {
        $('#main-table').DataTable();
    });
</script>
<html>
    <table id="main-table" #dTable class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Part Number</th>
                <th>Bolt Type</th>
                <th>Thread</th>
                <th>Torque Spec</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>N10209605</td>
                <td>Shouldered Hex Bolt</td>
                <td>M12x1.5x65</td>
                <td>100Nm / 74 ft-lb</td>
            </tr>
        </tbody>
    </table>
</html>